:root{
  --white : #FFF;
  --primary : #1F1C2C;
  --gray : #928DAB;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "Anton SC", sans-serif;
    background-image: url('/bg-image.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2rem;
    color: var(--primary);
}